.work{
    margin-left: 120px;
    padding: 20px 0px;
    
}

.work-exp{
padding: 20px 0px;
}

.work-exp h2{
    font-weight: bold;
    color: #138781;
}

.work-exp hr{
    color: #138781;
    width: 1000px;
    margin: 10px auto;
}