.home-container{
    height: 270px;
    color: white;
    padding-left: 100px;
    
}

.home-content{
    padding: 30px;
    padding-top: 40px;
}

.home-content h2{
    /* "i am " ko target kiya hai*/
    padding: 5px;
    padding-top: 10px;
    
}

.home-content h1{
    /* uske niche vali string ko target kiya hai*/
    color: rgb(200, 53, 53);
    padding: 5px;
    margin-left: 0px;  
}

.home-buttons{
   margin-left: 0px; 
   display: flex;
}

/*css fro hire button  */
.home-buttons .btn-hire{
    background-color: rgb(111, 10, 129);
    color: whitesmoke;
    width: 160px;
    
 }

 /* after hover kasia dikhega */
 .home-buttons .btn-hire:hover{
    background-color: rgb(111, 146, 58);
    color: white;
    width: 200px;
    transition: 1s
 }

 .home-buttons .btn-cv{
    background-color: blue;
    color: white;
    width: 160px;
    margin-left: 10px;
 }

 .home-buttons .btn-cv:hover{
    opacity: 80%;
    transition: 0.5s;

 }

 .theme-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #1e1e1e;
    margin-top: 20px;
    text-align: center;
    position: fixed;
    right: 0;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1;
  }


  /* home section in mobile */
  @media (max-width: 600px){
   .home-container{
      padding: 0;
      margin: 0;
      margin-top: 39px;
   }
   .home-container .h2{
      font-size: 24px;
   }
   .home-container .h1{
      font-size: 24px;
   }
  }

