.project{
    margin: 50px 0px;
    margin-left: 120px;
    background-color: rgba(22, 14, 14, 0.153);
}

.project hr{
    color: #138781;
    width: 1000px;
    margin: 10px auto;
}

.project h2{
    font-weight: bold;
    color: #138781;
    padding-top: 30px;
}

.project p{
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.project .p1{
    text-align: justify
}

/* specifically for card */
.project .card{
    margin-right:1px!important;
    margin-left: 100px;
    margin-bottom: 50px;
    }

#ads{
    margin: 30px 0px 30px 0px; 
}

#ads .card-notify-badge{
    position: absolute;
    left: -10px;
    top: -20px;
    background: #f29f26;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: black;
    padding: 5px 10px;
    font-size: 14px;
}


.project .card img{
    height: 150px;
    width: 100%;
}

.card-detail-badge{
background: brown;
text-align: center;
border-radius: 30px 30px 30px 30px;
color: whitesmoke;
padding: 5px 10px;
font-size: 14px;
}

.card-image-overly{
    font-size: 20px;
}

.card-image-overly span{
    display: inline-block;
    margin-left: 5px
}

.project .card:hover{
    background-color: white;
    border-radius: 4px;
    /* ye wala effect direct css scan se uthaya hai */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 1s ease; 
}

.ad-btn{
    text-transform: uppercase;
    width: 100px;height: 40px;
    display: block;
    text-align: center;
    background: #138781;
    color: white;
    border-radius: 80px;
    font-size: 16px;
    line-height: 35px;
    text-decoration: none;
    margin: 20px auto 20px auto;
}

.ad-btn:hover{
    background: salmon;
    color: #138781;
    background: transparent;
    border: 2px solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 1s ease;
}

/* mobile view for project */
@media(max-width:600px){
    .project{
        margin: 0;
        padding: 0;
        
    }

    .project p{
        text-align: justify;
    }

    .project hr{
        width: 300px;
    }

    /* #ads{
        margin-right: auto;
    } */

} 
