 * {
  /* * -> universal selector */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* dark mode me kaise dikhega pura page */

/* prevState ke hisab se target kiya hai */
#dark{
background-color: #5f264a;
color: #f4eee0;
}

